// Breackpoints
$mobile: 744px;
$tablet: 1440px;

// Colors
$primary-text: #333;
$blue: #02839F;
$white: #fff;
$black: #000;
$secondary: #616161;
$background-color: #fff;
$border-color: #D3D3D3;
$second-border-color: #F5F5F5;
