.container {
  height: 600px;
  margin-bottom: 200px;

  @include media-tablet {
    height: auto;
    margin-bottom: 90px;
  }
}

.inner {
  @include flex-align(flex-end);
  gap: 63px;
  position: sticky;
  top: 400px;

  @include media-tablet {
    flex-direction: column;
    align-items: baseline;
    position: unset;
    gap: 40px;
  }
}

.email {
  font-weight: 600;
}