.cursor, .aura, .poster {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  pointer-events: none;
}

.poster {
  width: 450px;
  height: 230px;
  margin-left: 10px;
  margin-top: 10px;
  transition: transform 0.3s linear;
}

.cursor {
  width: 8px;
  height: 8px;
  margin-left: -4px;
  margin-top: -4px;
  background-color: $dark;
  border-radius: 50%;
  transition: transform 0.1s linear;

  &.largeDot {
    width: 320px;
    height: 320px;
    margin-left: -160px;
    margin-top: -160px;
    background-color: $red;
    z-index: 1;
    transition: all 0.3s linear;
  }
}

.aura {
  width: 46px;
  height: 46px;
  background-color: $dark-red;
  mix-blend-mode: difference;
  margin-left: -23px;
  margin-top: -23px;
  border-radius: 50%;
  transition: transform 0.4s linear;
}