.container {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9;
  width: 100px;
  height: 100px;
  mix-blend-mode: exclusion;
  transition: transform .2s linear;
  cursor: pointer;

  path {
    fill: var(--dark);
  }
}