.container {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9;
  width: 100px;
  height: 100px;
  mix-blend-mode: exclusion;
  transition: transform .2s linear;
  cursor: pointer;

  &:before {
    content: attr(data-text);
    position: absolute;
    top: calc((100% - 12px) / 2);
    left: calc((100% - 23px) / 2);
    font-size: 11px;
    color: var(--grey);
    min-width: 23px;
    text-align: center;
    z-index: 1;
  }

  path {
    fill: var(--dark);
  }
}