.container {
  height: calc(100vh + 400px);
  width: 100%;
}

.background {
  position: absolute;
  top: 120px;
  left: 0;
  z-index: -1;
  height: calc(100% - 120px);
  width: 100%;

  &-item {
    position: sticky;
    top: calc((100% - 500px) / 2);
    width: 100%;
    opacity: 1;
    transform: translateX(0);
    transition: all 0.5s ease-in-out;
  }

  &-item.hidden {
    opacity: 0;
    transform: translateX(100%);
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.intro {
  height: 100%;

  &-inner {
    position: sticky;
    top: calc((100% - 166px) / 2);
    z-index: 99;
    height: fit-content;
    width: 100%;
    display: flex;
  }
}

.heading {
  z-index: 5;
  margin-left: 120px;
  opacity: 1;
  transform: translateX(0);
  transition: all 0.5s linear;

  &.hidden {
    opacity: 0;
    transform: translateX(-100%);
  }

  h1 {
    text-transform: uppercase;
    width: fit-content;
    //position: relative;
    font-size: 80px;
  }
}

.dot {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: $red;
  border-radius: 50%;
  transition: opacity .2s linear;
  
  &.hidden {
    opacity: 0;
    transition: opacity .2s linear;
  }
}