.container {
  height: calc(100vh + 400px);
  width: 100%;
}

.background {
  position: absolute;
  top: 120px;
  left: 0;
  z-index: -1;
  height: calc(100% - 120px);
  width: 100%;

  &-item {
    position: sticky;
    top: calc((100% - 500px) / 2);
    width: 100%;
    opacity: 1;
    transform: translateX(0);
    transition: all 0.5s ease-in-out;
  }

  &-item.hidden {
    opacity: 0;
    transform: translateX(100%);
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.intro {
  height: 100%;
}

.heading {
  position: sticky;
  top: calc((100% - 166px) / 2);
  z-index: 99;
  margin-left: 120px;
  text-transform: uppercase;
  width: fit-content;
  font-size: 80px;
  transform: translateX(0);
  transition: transform 0.5s linear, opacity 0.5s linear;

  &.hidden {
    opacity: 0;
    transform: translateX(-100%);
    transition: transform 0.5s linear, opacity 0.5s linear;
  }
}

.dot {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: $red;
  border-radius: 50%;
  transition: opacity .2s linear;

  &.hidden {
    opacity: 0;
    transition: opacity .2s linear;
  }
}