@charset "UTF-8";
/* Breakpoint mixins */
/*-------------------------------------------------------------
    Project:        Astramed
    Author:         Anton Shaposhnikov
	Email:			shaposhnikov.web@gmail.com
--------------------------------------------------------------*/
html {
  overflow-x: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%; }

body {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  color: #333;
  background-color: #fff;
  background-image: url("../../../assets/images/common/background.png");
  background-size: auto; }

.main {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  overflow: hidden; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

:active, :focus {
  outline: none; }

img {
  display: block;
  width: 100%;
  max-width: 100%; }

ul {
  list-style-type: none; }

strong {
  font-weight: bold; }

a, a:focus, a:hover, a:active a:visited {
  outline: 0;
  color: inherit;
  text-decoration: none;
  -webkit-transition: all 1s ease-in;
  transition: all 1s ease-in; }

button {
  font-family: 'Montserrat', sans-serif; }

details summary::-webkit-details-marker {
  display: none; }

details > summary {
  list-style: none; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none; }

::-webkit-scrollbar {
  width: 3px;
  height: 3px; }

::-webkit-scrollbar-button {
  height: 0; }

::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #02839F;
  border-radius: 50px; }

::-webkit-scrollbar-track-piece {
  background-color: transparent; }

/* ======================================
//            Layout
====================================== */
.c-container {
  max-width: 1170px;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px; }

/* ======================================
//            Common used
====================================== */
.main-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 180px;
  width: 180px;
  height: 47px;
  font-weight: 500;
  font-size: 14px;
  border: none;
  outline: none;
  color: #fff;
  background: linear-gradient(92.85deg, #30CDFF 7.07%, #00809B 101.34%);
  border-radius: 8px;
  -webkit-transition: all 1 ease-in;
  transition: all 1 ease-in;
  cursor: pointer; }
  @media (max-width: 744px) {
    .main-btn {
      font-size: 12px;
      line-height: 15px;
      min-width: 155px; } }
  .main-btn:hover {
    background: linear-gradient(93.68deg, #FFDD2C -1.05%, #FFA132 100%);
    -webkit-transition: all 1 ease-in;
    transition: all 1 ease-in; }

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .logo .logo__title {
    position: relative;
    margin-right: 25px;
    max-width: 144px;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #242424; }
    .logo .logo__title:after {
      top: 20px;
      right: -23px;
      position: absolute;
      content: " ";
      background-color: #02839F;
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg);
      width: 20px;
      height: 1px; }
    .logo .logo__title span {
      font-size: 17px;
      font-weight: 800;
      background: linear-gradient(92.85deg, #30CDFF 7.07%, #00809B 101.34%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
  .logo p {
    font-size: 10px;
    width: 100px;
    line-height: 12px; }

.lang-switcher {
  font-size: 14px; }
  @media (max-width: 744px) {
    .lang-switcher {
      font-size: 12px; } }
  .lang-switcher a:first-child {
    margin-right: 10px;
    position: relative; }
    .lang-switcher a:first-child:after {
      top: 10px;
      right: -13px;
      position: absolute;
      content: " ";
      background-color: #333;
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg);
      width: 13px;
      height: 1px; }
      @media (max-width: 1440px) {
        .lang-switcher a:first-child:after {
          top: 7px; } }
  .lang-switcher .active {
    font-weight: 500;
    color: #02839F; }

.title {
  font-weight: 500;
  font-size: 40px;
  color: #333; }
  @media (max-width: 744px) {
    .title {
      font-size: 20px;
      line-height: 24px;
      margin-top: 20px; } }

.pre-title {
  position: absolute;
  top: 110px;
  left: 0;
  font-weight: 500;
  font-size: 10px;
  line-height: 140%; }
  @media (max-width: 1440px) {
    .pre-title {
      top: 70px; } }
  @media (max-width: 744px) {
    .pre-title {
      position: relative;
      top: 0; } }

.linker-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 14px;
  border: none;
  outline: none;
  background: transparent;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  cursor: pointer;
  color: #333; }
  @media (max-width: 744px) {
    .linker-btn {
      font-size: 12px; } }
  .linker-btn svg {
    display: block;
    width: 15px;
    height: 8px;
    margin-left: 10px; }
    .linker-btn svg path {
      -webkit-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out; }
  .linker-btn:hover {
    color: #02839F;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out; }
    .linker-btn:hover svg path {
      fill: #02839F;
      -webkit-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out; }

/* ======================================
//            Modal
====================================== */
.modal-bg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  padding: 15px;
  z-index: 99998; }
  @media (max-width: 1440px) {
    .modal-bg {
      padding: 10px; } }

.modal {
  width: 100%;
  padding: 100px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  cursor: auto;
  border-radius: 8px;
  position: relative;
  z-index: 99999;
  overflow-y: scroll; }

.modal__close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  height: 40px;
  padding: 10px;
  cursor: pointer;
  border: none;
  outline: none;
  background: none; }
  .modal__close img {
    width: 10px;
    height: 10px; }

.modal-bg--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.props-modal {
  max-width: 1200px; }
  @media (max-width: 1440px) {
    .props-modal {
      max-width: 693px;
      padding: 80px 97px 30px; } }
  @media (max-width: 744px) {
    .props-modal {
      max-width: 332px;
      padding: 50px 16px;
      border-radius: 10px; } }
  .props-modal:before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 328px;
    height: 305px;
    z-index: -1;
    background: url("../../images/system/any/modal-yellow-blur.png") no-repeat center/100%; }
    @media (max-width: 1440px) {
      .props-modal:before {
        top: -32px;
        left: 23px; } }
    @media (max-width: 744px) {
      .props-modal:before {
        top: -66px;
        left: -90px; } }
  .props-modal__title {
    font-weight: 500;
    font-size: 40px;
    line-height: 49px;
    margin-bottom: 32px; }
    @media (max-width: 744px) {
      .props-modal__title {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 20px; } }
  .props-modal__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 102px; }
    @media (max-width: 1440px) {
      .props-modal__list {
        gap: 30px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
    @media (max-width: 744px) {
      .props-modal__list {
        gap: 20px; } }
  .props-modal__column {
    max-width: 408px;
    width: 100%; }
    @media (max-width: 744px) {
      .props-modal__column {
        max-width: 100%; } }
  .props-modal__list-title {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 10px; }
    @media (max-width: 744px) {
      .props-modal__list-title {
        font-size: 16px;
        line-height: 20px; } }
    .props-modal__list-title span {
      font-weight: 600;
      color: #02839F;
      white-space: nowrap; }
  .props-modal__pay-pal-icon {
    display: inline-block;
    vertical-align: middle;
    width: 71px;
    height: 19px; }
  .props-modal dd {
    line-height: 20px; }
    .props-modal dd:not(:last-child) {
      margin-bottom: 50px; }
      @media (max-width: 1440px) {
        .props-modal dd:not(:last-child) {
          margin-bottom: 30px; } }
      @media (max-width: 1440px) {
        .props-modal dd:not(:last-child) {
          margin-bottom: 20px; } }

/* ======================================
//            General Section
====================================== */
.general__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  border-bottom: 1px solid #D3D3D3; }
  @media (max-width: 1440px) {
    .general__inner {
      margin-top: 70px;
      padding-bottom: 330px; } }
  @media (max-width: 744px) {
    .general__inner {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      position: relative;
      padding-bottom: 0;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: start;
      margin-top: 47px; } }
  .general__inner .general__title {
    max-width: 600px;
    font-weight: 500;
    font-size: 70px;
    line-height: 85px;
    letter-spacing: 0.02em;
    text-transform: uppercase; }
    @media (max-width: 744px) {
      .general__inner .general__title {
        font-size: 35px;
        line-height: 43px;
        max-width: 280px; } }
    .general__inner .general__title span {
      font-weight: 800;
      font-size: 75px;
      line-height: 91px;
      letter-spacing: 0.03em;
      background: linear-gradient(92.85deg, #30CDFF 7.07%, #00809B 101.34%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent; }
      @media (max-width: 744px) {
        .general__inner .general__title span {
          font-size: 35px;
          line-height: 43px; } }
  .general__inner .general__desc {
    margin-top: 50px;
    margin-bottom: 30px;
    max-width: 525px;
    width: 100%;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400; }
    @media (max-width: 1440px) {
      .general__inner .general__desc {
        margin-top: 25px;
        margin-bottom: 30px; } }
    @media (max-width: 744px) {
      .general__inner .general__desc {
        font-size: 16px;
        max-width: 310px;
        margin-top: 16px;
        margin-bottom: 20px; } }
  .general__inner .general__img {
    max-width: 527px;
    width: 100%; }
    @media (max-width: 1440px) {
      .general__inner .general__img {
        max-width: 505px;
        position: absolute;
        right: -60px;
        top: 145px; } }
    @media (max-width: 744px) {
      .general__inner .general__img {
        position: relative;
        max-width: 335px;
        top: -50px;
        right: 0;
        margin: 0 auto;
        height: 250px;
        z-index: -1; } }

.general__quote {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url("../../../assets/images/general/bg-blur.png");
  background-repeat: no-repeat;
  background-position: center;
  border-bottom: 1px solid #D3D3D3; }
  @media (max-width: 744px) {
    .general__quote {
      padding-top: 50px;
      padding-bottom: 50px; } }
  .general__quote p {
    margin-left: auto;
    margin-right: auto;
    max-width: 520px;
    width: 100%;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center; }
    @media (max-width: 744px) {
      .general__quote p {
        max-width: 300px;
        font-size: 16px;
        line-height: 20px; } }

/* ======================================
//            How-it-works Section
====================================== */
.how-it-works__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 110px;
  padding-bottom: 110px;
  border-bottom: 1px solid #D3D3D3;
  position: relative; }
  @media (max-width: 1440px) {
    .how-it-works__inner {
      padding-bottom: 80px;
      padding-top: 80px; } }
  @media (max-width: 744px) {
    .how-it-works__inner {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      padding-bottom: 60px;
      padding-top: 50px; } }
  .how-it-works__inner .how-it-works__wrap {
    width: 100%; }
  .how-it-works__inner .how-it-works__content {
    margin-left: auto;
    margin-right: auto;
    max-width: 690px;
    width: 100%; }
    @media (max-width: 1440px) {
      .how-it-works__inner .how-it-works__content {
        max-width: 512px; } }
    @media (max-width: 744px) {
      .how-it-works__inner .how-it-works__content {
        max-width: 315px;
        margin-left: unset; } }
    .how-it-works__inner .how-it-works__content p {
      margin-top: 30px;
      font-weight: 300;
      font-size: 14px;
      line-height: 140%;
      color: #333; }
      @media (max-width: 744px) {
        .how-it-works__inner .how-it-works__content p {
          font-size: 12px;
          line-height: 15px;
          margin-top: 20px; } }
    .how-it-works__inner .how-it-works__content--hidden-text {
      display: none; }
      .how-it-works__inner .how-it-works__content--hidden-text.active {
        display: block; }
    .how-it-works__inner .how-it-works__content .linker-btn {
      margin-left: auto;
      margin-top: 10px; }

.how-it-works__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-top: 50px; }
  @media (max-width: 1440px) {
    .how-it-works__cards {
      margin-top: 30px;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; } }
  .how-it-works__cards .how-it-works__card {
    padding: 20px;
    margin-right: 22px;
    margin-bottom: 30px;
    width: 23%;
    height: 160px;
    background: linear-gradient(108.47deg, #FFFFFF -0.63%, rgba(255, 255, 255, 0) 105.15%);
    -webkit-filter: drop-shadow(0px 2px 15px rgba(235, 235, 235, 0.34));
            filter: drop-shadow(0px 2px 15px rgba(235, 235, 235, 0.34));
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
    border-radius: 8px;
    border: 1px solid #F6F6F6; }
    @media (max-width: 1440px) {
      .how-it-works__cards .how-it-works__card {
        width: 48%;
        margin-right: 0; } }
    @media (max-width: 744px) {
      .how-it-works__cards .how-it-works__card {
        width: 100%;
        height: 130px; } }
    .how-it-works__cards .how-it-works__card:hover {
      background: linear-gradient(286.14deg, rgba(2, 131, 159, 0.2) 0%, rgba(251, 255, 51, 0.174) 44.39%, rgba(255, 255, 255, 0) 87.33%), linear-gradient(108.47deg, #FFFFFF -0.63%, rgba(255, 255, 255, 0) 105.15%);
      -webkit-filter: drop-shadow(0px 2px 15px rgba(235, 235, 235, 0.34));
              filter: drop-shadow(0px 2px 15px rgba(235, 235, 235, 0.34)); }
    .how-it-works__cards .how-it-works__card .how-it-works__card-title {
      max-width: 227px;
      width: 100%;
      font-weight: 300;
      font-size: 14px;
      line-height: 140%;
      color: #333; }
      @media (max-width: 744px) {
        .how-it-works__cards .how-it-works__card .how-it-works__card-title {
          font-size: 12px;
          line-height: 15px;
          max-width: 292px; } }
    .how-it-works__cards .how-it-works__card .how-it-works__card-btns {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-top: 40px; }
      @media (max-width: 744px) {
        .how-it-works__cards .how-it-works__card .how-it-works__card-btns {
          font-size: 10px; } }
      .how-it-works__cards .how-it-works__card .how-it-works__card-btns .how-it-works__card-download {
        position: relative;
        padding-left: 20px; }
        .how-it-works__cards .how-it-works__card .how-it-works__card-btns .how-it-works__card-download:after {
          position: absolute;
          content: "";
          width: 13px;
          height: 13px;
          left: 0;
          bottom: 3px;
          background: url("../../../assets/images/system/icon/download.svg");
          -webkit-transition: all 0.2s ease-in;
          transition: all 0.2s ease-in; }
        .how-it-works__cards .how-it-works__card .how-it-works__card-btns .how-it-works__card-download:hover:after {
          background: url("../../../assets/images/system/icon/download-filled.svg");
          -webkit-transition: all 0.2s ease-in;
          transition: all 0.2s ease-in; }
      .how-it-works__cards .how-it-works__card .how-it-works__card-btns .how-it-works__card-link {
        position: relative; }
        .how-it-works__cards .how-it-works__card .how-it-works__card-btns .how-it-works__card-link:after {
          position: absolute;
          content: "";
          width: 17px;
          height: 8px;
          right: 5px;
          bottom: -5px;
          background: url("../../../assets/images/system/icon/arrow.svg");
          z-index: 2;
          -webkit-transition: all 0.2s ease-in;
          transition: all 0.2s ease-in; }
        .how-it-works__cards .how-it-works__card .how-it-works__card-btns .how-it-works__card-link:hover:after {
          background: url("../../../assets/images/system/icon/arrow-filled.svg");
          -webkit-transition: all 0.2s ease-in;
          transition: all 0.2s ease-in; }

/* ======================================
//          Donation Section
====================================== */
.donation__inner {
  position: relative;
  margin-bottom: 100px;
  margin-top: 125px; }
  @media (max-width: 1440px) {
    .donation__inner {
      margin-top: 80px;
      margin-bottom: 80px; } }
  @media (max-width: 744px) {
    .donation__inner {
      margin-top: 50px;
      margin-bottom: 65px; } }
  .donation__inner .pre-title {
    top: 25px; }
    @media (max-width: 1440px) {
      .donation__inner .pre-title {
        top: 0; } }
  .donation__inner .donation__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto; }
    .donation__inner .donation__content .donation__content-info {
      max-width: 690px;
      width: 100%;
      margin-left: auto; }
      @media (max-width: 1440px) {
        .donation__inner .donation__content .donation__content-info {
          max-width: 515px;
          margin-right: auto; } }
      @media (max-width: 744px) {
        .donation__inner .donation__content .donation__content-info {
          margin-left: unset; } }
      .donation__inner .donation__content .donation__content-info p {
        margin-top: 35px;
        margin-bottom: 30px; }
        @media (max-width: 1440px) {
          .donation__inner .donation__content .donation__content-info p {
            margin-top: 30px; } }
        @media (max-width: 744px) {
          .donation__inner .donation__content .donation__content-info p {
            margin-bottom: 20px;
            margin-top: 20px;
            font-size: 12px;
            line-height: 15px; } }
      .donation__inner .donation__content .donation__content-info .donation__content-btns {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        @media (max-width: 744px) {
          .donation__inner .donation__content .donation__content-info .donation__content-btns {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-align: start;
                -ms-flex-align: start;
                    align-items: start; } }
        .donation__inner .donation__content .donation__content-info .donation__content-btns .linker-btn {
          margin-left: 25px; }
          @media (max-width: 744px) {
            .donation__inner .donation__content .donation__content-info .donation__content-btns .linker-btn {
              margin-left: 0;
              margin-top: 30px; } }
    .donation__inner .donation__content .donation__content-img {
      max-width: 222px;
      width: 100%; }
      @media (max-width: 1440px) {
        .donation__inner .donation__content .donation__content-img {
          display: none; } }

/* ======================================
//          Donation Page
====================================== */
.donation-page {
  padding-top: 50px; }
  .donation-page__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: self-start;
        -ms-flex-align: self-start;
            align-items: self-start;
    margin-bottom: 50px; }
    @media (max-width: 1440px) {
      .donation-page__inner {
        display: block; } }
    .donation-page__inner .pre-title {
      position: relative;
      top: 0; }
      @media (max-width: 1440px) {
        .donation-page__inner .pre-title {
          font-size: 8px; } }
  .donation-page__content {
    margin: 0 auto; }

.donation-page__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 60px; }
  @media (max-width: 1440px) {
    .donation-page__form {
      margin-top: 30px; } }
  .donation-page__form .donation-page__input {
    margin-bottom: 40px;
    padding-bottom: 14px;
    border: none;
    border-bottom: 1px solid #D3D3D3;
    background: none;
    font-family: Montserrat,sans-serif;
    font-weight: 300;
    font-size: 14px;
    width: 100%; }
    @media (max-width: 1440px) {
      .donation-page__form .donation-page__input {
        padding-bottom: 10px;
        margin-bottom: 25px;
        font-size: 12px; } }
    .donation-page__form .donation-page__input::-webkit-input-placeholder {
      font-family: Montserrat,sans-serif;
      font-weight: 300;
      font-size: 14px;
      color: #333; }
    .donation-page__form .donation-page__input:-ms-input-placeholder {
      font-family: Montserrat,sans-serif;
      font-weight: 300;
      font-size: 14px;
      color: #333; }
    .donation-page__form .donation-page__input::-ms-input-placeholder {
      font-family: Montserrat,sans-serif;
      font-weight: 300;
      font-size: 14px;
      color: #333; }
    .donation-page__form .donation-page__input::placeholder {
      font-family: Montserrat,sans-serif;
      font-weight: 300;
      font-size: 14px;
      color: #333; }

.donation-page__input-amount {
  position: relative; }
  .donation-page__input-amount:after {
    content: " ";
    position: absolute;
    right: 30px;
    top: 10px;
    width: 17px;
    height: 1px;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    background-color: #D3D3D3; }
  .donation-page__input-amount:before {
    content: "грн";
    position: absolute;
    right: 0;
    top: 0;
    font-size: 14px; }

@media (max-width: 1440px) {
  .donation-page__total h3 {
    font-weight: 500;
    font-size: 12px; } }
@media (max-width: 1440px) {
  .donation-page__total .donation-page__subtitle {
    font-size: 12px; } }
.donation-page__total .donation-page__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 30px; }
  @media (max-width: 1440px) {
    .donation-page__total .donation-page__list {
      margin-top: 15px; } }
  .donation-page__total .donation-page__list .donation-page__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .donation-page__total .donation-page__list .donation-page__item:first-child {
      margin-bottom: 10px; }
    .donation-page__total .donation-page__list .donation-page__item img {
      width: 36px;
      height: 26px;
      margin-right: 10px; }
    .donation-page__total .donation-page__list .donation-page__item .donation-page__currency-rate {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      color: #616161; }

.donation-page__approve {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px; }
  @media (max-width: 1440px) {
    .donation-page__approve {
      margin-top: 20px; } }
  .donation-page__approve button {
    color: #333; }
  .donation-page__approve button:disabled {
    background: linear-gradient(93.68deg, #F5F5F5 -1.05%, #BEBEBE 100%); }
  .donation-page__approve p {
    margin-left: 25px;
    font-size: 14px; }
    @media (max-width: 1440px) {
      .donation-page__approve p {
        font-size: 12px;
        margin-left: 20px;
        max-width: 150px; } }
    .donation-page__approve p span {
      font-weight: 500; }

/* ======================================
//        Payment result pages
====================================== */
.payment-info {
  margin-top: 230px;
  margin-bottom: 185px; }
  @media (max-width: 744px) {
    .payment-info {
      margin-top: 32px;
      margin-bottom: 90px; } }
  .payment-info .payment-info__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (max-width: 744px) {
      .payment-info .payment-info__inner {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        text-align: center; } }
    .payment-info .payment-info__inner .payment-info__img {
      max-width: 200px;
      width: 100%;
      margin-right: 60px; }
      @media (max-width: 744px) {
        .payment-info .payment-info__inner .payment-info__img {
          margin-right: 0; } }
    .payment-info .payment-info__inner .payment-info__img.unsuccessful {
      max-width: 115px;
      width: 100%;
      margin-right: 110px; }
      @media (max-width: 744px) {
        .payment-info .payment-info__inner .payment-info__img.unsuccessful {
          margin-right: 0; } }
    .payment-info .payment-info__inner .payment-info__result p {
      margin-top: 50px;
      margin-bottom: 30px;
      max-width: 460px;
      font-size: 14px;
      line-height: 140%; }
      @media (max-width: 744px) {
        .payment-info .payment-info__inner .payment-info__result p {
          margin-top: 25px;
          margin-bottom: 25px;
          font-size: 12px;
          max-width: 345px; } }
    .payment-info .payment-info__inner .payment-info__result .payment-info__btn-group {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      @media (max-width: 744px) {
        .payment-info .payment-info__inner .payment-info__result .payment-info__btn-group {
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column; } }
      .payment-info .payment-info__inner .payment-info__result .payment-info__btn-group .linker-btn:first-child {
        margin-right: 45px; }
        @media (max-width: 744px) {
          .payment-info .payment-info__inner .payment-info__result .payment-info__btn-group .linker-btn:first-child {
            margin-right: 10px;
            margin-bottom: 20px; } }
        .payment-info .payment-info__inner .payment-info__result .payment-info__btn-group .linker-btn:first-child svg {
          -webkit-transform: rotate(180deg);
                  transform: rotate(180deg);
          margin-right: 10px; }

@media (max-width: 744px) {
  .payment-info.unsuccessful {
    margin-top: 60px; } }
.payment-info.unsuccessful .payment-info__result {
  margin-top: 50px; }

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #D3D3D3; }
  @media (max-width: 744px) {
    .header__inner {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: unset;
          -ms-flex-align: unset;
              align-items: unset;
      padding-top: 20px;
      padding-bottom: 20px; } }
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 240px; }
  @media (max-width: 1440px) {
    .header__wrapper {
      gap: 115px; } }
  @media (max-width: 744px) {
    .header__wrapper {
      gap: 80px;
      -webkit-box-pack: inherit;
          -ms-flex-pack: inherit;
              justify-content: inherit;
      margin-top: 15px; } }
.header__btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px; }
  @media (max-width: 1440px) {
    .header__btn-group .main-btn {
      display: none; } }

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 70px; }
  @media (max-width: 744px) {
    .nav-list {
      font-size: 12px; } }
  .nav-list a:focus, .nav-list a:hover, .nav-list a:active a:visited {
    text-decoration: underline;
    color: #02839F;
    -webkit-transition: all 1s ease-in;
    transition: all 1s ease-in; }

@media (max-width: 744px) {
  .nav-list__en {
    gap: 15px; } }

.footer .footer__inner {
  margin-bottom: 35px;
  padding-top: 35px;
  border-top: 1px solid #D3D3D3;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 10px;
  font-weight: 500;
  color: #616161; }
  @media (max-width: 744px) {
    .footer .footer__inner {
      padding-top: 20px;
      margin-bottom: 20px; } }
  .footer .footer__inner .logo {
    margin-right: 50px; }
    @media (max-width: 1440px) {
      .footer .footer__inner .logo {
        margin-right: 0; } }
  .footer .footer__inner .footer__main-info, .footer .footer__inner .footer__contact-info, .footer .footer__inner .footer__sub-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .footer .footer__inner .footer__main-info {
    margin-bottom: 35px; }
    @media (max-width: 1440px) {
      .footer .footer__inner .footer__main-info {
        -webkit-box-align: normal;
            -ms-flex-align: normal;
                align-items: normal; } }
    @media (max-width: 744px) {
      .footer .footer__inner .footer__main-info {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin-bottom: 20px; } }
  .footer .footer__inner .footer__contact-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 135px; }
    @media (max-width: 1440px) {
      .footer .footer__inner .footer__contact-wrapper {
        gap: 0; } }
    @media (max-width: 744px) {
      .footer .footer__inner .footer__contact-wrapper {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin-top: 20px; } }
  @media (max-width: 1440px) {
    .footer .footer__inner .footer__contact-info {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: start; } }
  .footer .footer__inner .footer__contact-item {
    margin-right: 50px; }
    @media (max-width: 1440px) {
      .footer .footer__inner .footer__contact-item {
        margin-bottom: 6px; } }
    @media (max-width: 744px) {
      .footer .footer__inner .footer__contact-item {
        margin-bottom: 10px;
        font-size: 8px;
        max-width: 121px; } }
    .footer .footer__inner .footer__contact-item:last-child {
      margin-right: 0; }
      @media (max-width: 1440px) {
        .footer .footer__inner .footer__contact-item:last-child {
          margin-bottom: 0; } }
    .footer .footer__inner .footer__contact-item .footer__contact-link {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .footer .footer__inner .footer__contact-item .footer__contact-link img {
        margin-right: 5px;
        width: 10px;
        height: 10px; }
  @media (max-width: 744px) {
    .footer .footer__inner .footer__sub-info {
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      font-size: 8px; } }
  .footer .footer__inner .footer__sub-info p:first-child {
    max-width: 337px;
    width: 100%; }
    @media (max-width: 1440px) {
      .footer .footer__inner .footer__sub-info p:first-child {
        max-width: 160px; } }
  .footer .footer__inner .footer__sub-info .footer__sub-info--group p {
    text-align: right;
    margin-bottom: 10px; }
    @media (max-width: 744px) {
      .footer .footer__inner .footer__sub-info .footer__sub-info--group p {
        margin-bottom: 0; } }

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }
.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 999999; }
  .preloader__row {
    position: relative;
    top: calc((100% - 133px) / 2);
    left: calc((100% - 133px) / 2);
    width: 133px;
    height: 133px;
    z-index: 9999999;
    background: url("/assets/images/system/any/preloader.svg") no-repeat center center;
    background-size: 133px;
    -webkit-animation: spin 15s linear 0s infinite;
    animation: spin 15s linear 0s infinite; }

.loaded_hiding .preloader {
  -webkit-transition: 0.3s opacity;
  transition: 0.3s opacity;
  opacity: 0; }

.loaded .preloader {
  display: none; }

/*# sourceMappingURL=main.css.map */