.container {
  @include flex-align(flex-start);
  margin-bottom: 400px;

  @include media-laptop {
    flex-direction: column;
    margin-bottom: 100px;
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: 170px;

  @include media-laptop {
    margin-top: 0;
    width: 100%;
  }

  @include media-tablet {
    gap: unset;
  }

  &-item {
    max-width: 270px;
    width: 100%;
    padding-left: 30px;

    @include media-laptop {
      padding-left: 30px;
    }

    @include media-tablet {
      padding-left: 20px;
      margin-right: 40px;
      margin-bottom: 40px;
    }
  }

  &-title {
    font-weight: 600;
    margin-bottom: 25px;

    @include media-tablet {
      margin-bottom: 15px;
    }
  }

  &-subItem:not(:last-child) {
    margin-bottom: 6px;
  }
}