.container {
  padding-bottom: 94px;

  @include media-laptop {
    padding-bottom: 35px;
  }

  @include media-tablet {
    padding-bottom: 110px;
  }
}

.signature {
  width: fit-content;
  margin-bottom: -20px;

  @include media-laptop {
    margin-bottom: -16px;
  }

  @include media-tablet {
    margin-bottom: 40px;
  }
}

.socials {
  @include flex-align(center);
  width: fit-content;
  margin-left: auto;
  margin-right: auto;

  @include media-tablet {
    margin-left: 0;
  }

  li:not(:last-child) {
    margin-right: 60px;

    @include media-laptop {
      margin-right: 20px;
    }
  }

  &-list {
    font-size: 18px;
    text-transform: uppercase;

    @include media-laptop {
      font-size: 15px;
    }
  }
}