.container {
  height: 100vh;
  overflow-y: scroll;
  color: $dark;
  cursor: none;
}

.inner {
  padding-left: 100px;
  padding-right: 100px;

  @include media-laptop {
    padding-left: 70px;
    padding-right: 70px;
  }

  @include media-mobile {
    padding-left: 20px;
    padding-right: 20px;
  }
}