.container {
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  overflow-y: scroll;
  color: var(--dark);
}

.inner {
  max-width: 1700px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 100px;
  padding-right: 100px;
}



