.container {
  height: calc(100vh + 1100px);
  position: relative;
  margin-bottom: 600px;

  @include media-mobile {
    height: auto;
    margin-bottom: 200px;
  }
}

.inner {
  position: absolute;
  top: calc((100% - 154px) / 2);
  left: calc((100% - 905px) / 2);
  max-width: 905px;
  width: 100%;
  height: fit-content;
  opacity: 0;
  transform: translateY(200%);
  transition: all 0.5s ease-in-out;

  @include media-laptop {
    left: calc((100% - 680px) / 2);
  }

  @include media-mobile {
    position: unset;
    max-width: 400px;
    transform: translateY(0);
  }

  p {
    display: block;
    font-size: 35px;
    line-height: 1.4;

    @include media-laptop {
      font-size: 26px;
    }

    @include media-mobile {
      font-size: 15px;
    }
  }
}

.userName {
  display: inline-flex;
  background-color: $dark;
  color: $white;
  max-width: fit-content;
  overflow: hidden;
  letter-spacing: .15em;
  margin-bottom: -10px;
  width: 0;

  &.active {
    width: 100%;
    border-right: 3px solid $red;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    animation: typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;

    @include media-mobile {
      border-right-width: 1px;
      padding-left: 4px;
      padding-right: 2px;
      padding-bottom: 1px;
    }
  }
}

.firstLine {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: -30px;
    width: 20px;
    height: 20px;
    background-color: $red;
    border-radius: 50%;

    @include media-laptop {
      left: -25px;
      width: 15px;
      height: 15px;
    }

    @include media-mobile {
      left: -15px;
      width: 10px;
      height: 10px;
    }
  }
}

.line {
  display: inline-block;
  opacity: 0;
  transform: translateY(200%);
  transition: all 0.5s ease-in-out;
}

.active {
  opacity: 1;
  transform: translateY(0);
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%
  }
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: $red
  }
}