// Mixins
@mixin flex-c-c {
  display: flex;
  align-items: center;
  justify-content: center;
}

:root {
  --main-red: #FF0F00;
  --color-white: #fff;
  --color-dark: #222;
  --color-grey: #666;
  --color-aqua: #05ebfa;
}

/* Preloader */
.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-white);
  z-index: 999999;
  &__inner {
    width: 200px;
    height: 200px;
    position: absolute;
    top: calc((100% - 200px) / 2);
    left: calc((100% - 200px) / 2);
  }
  &__item {
    width: 170px;
    height: 170px;
    margin: auto;
    animation: spin-top 4s infinite linear;
    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  &__text {
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
  }
}

.loaded-active .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

// SYSTEM STYLE
*, *:before, *:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
  font-family: 'Object Sans';
	overflow-x: hidden;
	box-sizing: border-box;
	height: 100%;
  scroll-behavior: smooth;
}

body {
	width: 100%;
  position: relative;
  font-family: inherit;
	font-style: normal;
	color: var(--color-dark);
  cursor: none;
  background: var(--color-white) url('../img/system/bg__cleen-noise.png');
  isolation: isolate;
}

::-webkit-scrollbar { width: 5px; height: 5px;}
::-webkit-scrollbar-button { height: 0; width: 100%;}
::-webkit-scrollbar-thumb {background-color: var(--color-white); border-radius: 50px;}
::-webkit-scrollbar-track-piece { background-color: var(--color-dark);
}

::selection {
  background: var(--color-dark);
  color: var(--main-red);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
}

strong, b {
	font-weight: 800;
}

a, a:focus, a:hover, a:active a:visited {
	outline: 0;
	color: inherit;
	text-decoration: none;
}

h1, h2, h3, h4, h5 {
	font-weight: 800;
  line-height: 1.1;
}

h1, h2, h3 {
	font-size: 80px;
  letter-spacing: -0.015em;
}

p {
  font: 18px/1.1 'Montserrat', sans-serif;
}

button {
  background-color: transparent;
  border: none;
}

:active, :focus {
	outline: none;
}

/* ======================================
//            Layout
====================================== */

.container {
  max-width: 1580px;
  width: 100%;
  margin: 0 auto;
  padding: 0 100px;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 120px;
  border-bottom: 1px solid var(--color-grey);
  mix-blend-mode: difference;
  background: var(--color-white) url('../img/system/bg__cleen-noise.png');
  &.off-mix-blend-mode {
    mix-blend-mode: normal;
  }
}

.section-heading {
  text-transform: uppercase;
  font-size: 80px;
  position: relative;
  &::before,
  &::after {
    content: attr(data-text);
    position: absolute;
    top: 50px;
    left: 0;
    -webkit-text-stroke: 1px var(--color-dark);
    -webkit-text-fill-color: transparent;
  }
  &::after {
    top: 100px;
  }
}

@media (max-width: 1400px) {
  .header {
    height: 70px;
  }
  .section-heading {
    font-size: 60px;
    &::before,
    &::after {
      top: 41px;
    }
    &::after {
      top: 81px;
    }
  }
}

@media (max-width: 1024px) {
  body {
    cursor: auto;
  }
  p {
    font-size: 15px;
  }
  .header {
    height: 40px;
  }
  .section-heading {
    font-size: 50px;
    &::before,
    &::after {
      top: 33px;
    }
    &::after {
      top: 65px;
    }
  }
}

@media (max-width: 650px) {
  .container {
    padding: 0 20px;
  }
  .section-heading {
    font-size: 30px;
    &::before,
    &::after {
      top: 19px;
    }
    &::after {
      top: 36px;
    }
  }
}

// Кнопка скрол вниз
.scroll-down {
  position: fixed;
  bottom: 50px;
  left: 20px;
  z-index: 98;
  width: fit-content;
  height: fit-content;
  & svg {
    animation: scrolld-down-levitation 3s infinite ease-in-out;
  }
  &__text {
    width: 0;
    text-transform: lowercase;
    transform: rotate(-90deg);
    position: relative;
    left: 22px;
    top: 40px;
    color: var(--color-white);
    z-index: -1;
    margin-bottom: 40px;
    margin-left: -4px;
    &::before {
      content: attr(data-text);
      position: absolute;
      top: 0;
      left: 0;
      color: var(--color-dark);
      overflow: hidden;
      width: 0%;
      transition: 1s;
    }
  }
  &:hover &__text::before {
    width: 100%;
  }
}

@keyframes scrolld-down-levitation {
  from { transform: translate(0,  0); }
  65%  { transform: translate(0, 10px); }
  to   { transform: translate(0, 0); }    
}

// Dark Theme 
.dark-theme-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 98;
  width: 100px;
  height: 100px;
  mix-blend-mode: exclusion;
}

@keyframes spin-top {
  from { transform:rotate(0deg); }
  to { transform:rotate(90deg); }
}

@keyframes spin-down {
  from { transform:rotate(0deg); }
  to { transform:rotate(-90deg); }
}

@media (max-width: 1024px) {
  .scroll-down {
    & svg {
      width: 30px;
      height: 30px;
    }
    &__text {
      left: 18px;
      top: 37px;
    }
  }
  .dark-theme-btn {
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 650px) {
  .scroll-down {
    display: none;
  }
  .dark-theme-btn {
    width: 50px;
    height: 50px;
  }
}

// Page 404
.page404 {
  width: 100%;
  height: 100vh;
  @include flex-c-c;
  flex-direction: column;
  &__circle {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
    animation: spin-top 4s infinite linear;
  }
  & h1,
  & h3 {
    font-family:'Montserrat', sans-serif;
    text-align: center;
    font-size: 40px;
  }
}

// cursor
.cursor, .aura {
  position: fixed;
  border-radius: 100%;
  transition: .5s cubic-bezier(.75,-1.27,.3,2.33) transform, .2s cubic-bezier(.75,-1.27,.3,2.33) opacity;
  user-select: none;
  pointer-events: none;
  z-index: 99;
}

.cursor {
  width: 8px;
  height: 8px;
  background-color: rgba(#222, 1);
  transition: .2s linear background-color;
}

.aura {
  width: 46px;
  height: 46px;
  background-color: rgba(#FF0F00, .5);
  transform: translate(-19px, -19px);
  mix-blend-mode: difference;
  transition: all .3s linear;
  &.active {
    border: none;
    transform: translate(-19px, -19px) scale(2);
    transition: .4s ease-out transform .4s ease-out border;
  }
}

// Меню
.menu {
  height: 100%;
  &__open-btn {
    @include flex-c-c;
    height: 100%;
    width: 190px;
    margin-left: auto;
    font-family: 'Montserrat', 'Object Sans';
    font-weight: normal;
    font-size: 20px;
    position: relative;
    z-index: 99;
    cursor: none;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 1px;
      height: 100vh;
      background-color: var(--color-dark);
      transition: all 0.5s ease-in-out;
    }
  }
  &__opened {
    text-transform: lowercase;
    cursor: pointer;
    transition: color .5s ease-in-out;
  }
  &__opened:hover {
    color: var(--main-red);
    transition: color .5s ease-in-out;
  }
  &__hide-half-border::before {
    height: 120px;
  }
  &__hide-border::before  {
    height: 0;
  }
}

.cursor-close {
  cursor: url('../img/system/close__icon.svg'), auto;
}

.nav {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--main-red);
  transition: all 0.5s ease-in-out;
  animation: fill 1s ease-in-out;
  &.open {
    display: flex;
    align-items: center;
    z-index: 98;
    cursor: url('../img/system/close__icon.svg'), auto;
    overflow-y: scroll;
    animation: fill 1s ease-in-out; 
  }
  &__list {
    opacity: 0;
    margin-left: 17%;
    animation: show-nav 1s forwards ease-in-out;
  }
  &__item a {
    display: block;
    height: 100%;
    width: fit-content;
    font-weight: 800;
    font-size: 80px;
    line-height: 83px;
    letter-spacing: -0.015em;
    text-transform: uppercase;
    -webkit-text-stroke: 2px var(--color-dark);
    -webkit-text-fill-color: transparent;
    padding: 25px 0;
  }
  &__item a:hover {
    -webkit-text-fill-color: var(--color-dark);
  }
}

@keyframes show-nav {
  0%, 99% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fill {
  0% {
    border-radius: 50%;
    transform: translateY(150%) translateX(150%) scale(2);
  }
  100% {
    border-radius: 50%;
    transform: scale(2);
  }
}

@media (max-width: 1400px) {
  .menu {
    &__open-btn {
      width: 115px;
      font-size: 15px;
    }
    &__hide-half-border::before {
      height: 70px;
    }
    &__hide-border::before  {
      height: 0;
    }
  }
  .nav__item a {
    font-size: 60px;
    line-height: 62px;
  }
}

@media (max-width: 1024px) {
  .cursor, .aura {
    display: none;
  }
  .nav__item a {
    font-size: 50px;
    line-height: 52px;
  }
  .menu__open-btn {
    &::before {
      display: none;
    }
  }
}

@media (max-width: 650px) {
  .nav {
    &__list {
      margin-left: 30px;
    }
    &__item a {
      font-size: 40px;
      line-height: 43px;
      padding: 15px 0;
    }
  }
}

@media (max-width: 410px) {
  .nav {
    &__list {
      margin-left: 20px;
    }
    &__item a {
      font-size: 30px;
      line-height: 31px;
    }
  }
}

// Intro section
.intro {
  height: calc(100vh + 200px);
  width: 100%;
  &__inner {
    height: 100%;
  }
}

.intro-bg {
  position: absolute;
  top: 120px;
  left: 0;
  z-index: -1;
  height: calc(100% - 120px);
  width: 100%;
  &__item {
    position: sticky;
    top: 120px;
    top: calc((100% - 500px) / 2);
    width: 100%;
    opacity: 1;
    filter: alpha(opacity=100);
    transform: translateX(0);
    transition: all 0.5s ease-in-out;
    img {
      width: 100%;
    }
  }
  &__hide {
    visibility: hidden;
    opacity: 0;
    filter: alpha(opacity=0);
    transform: translateX(100%);
  }
}

.main-heading {
  position: sticky;
  top: calc((100% - 166px) / 2);
  z-index: 99;
  height: fit-content;
  width: 100%;
  display: flex;
  &__inner {
    z-index: 5;
    margin-left: 230px;
    opacity: 1;
    filter: alpha(opacity=100);
    transform: translateX(0);
    transition: all 0.5s ease-in-out;
  }
  &__name {
    text-transform: uppercase;
    width: fit-content;
    position: relative;
  }
}

@media (max-width: 1400px) {
  .main-heading__name {
    font-size: 60px;
    line-height: 62px;
  }
}

@media (max-width: 1024px) {
  .intro {
    height: 100vh;
    max-height: 500px;
    margin-bottom: 0;
    &__inner {
      position: relative;
    }
  }
  .main-heading {
    position: absolute;
    top: calc((95% - 104px) / 2);
    &__name {
      font-size: 50px;
      line-height: 52px;
    }
    &__inner {
      margin-left: 130px;
    }
  }
  .intro-bg {
    top: 70px;
    height: calc(100% - 70px);
    max-height: 500px;
    &__item {
      position: absolute;
      top: calc(50% - 200px);
      height: 200px;
      background-position: center;
    }
  }
}

@media (max-width: 650px) {
  .main-heading {
    top: calc((90% - 84px) / 2);
    &__inner {
      margin-left: 30px;
    }
    &__name {
      font-size: 30px;
      line-height: 42px;
    }
  }
  .intro {
    max-height: 400px;
  }
  .intro-bg {
    max-height: 400px;
    &__item {
      top: calc(50% - 110px);
      height: 110px;
    }
  }
}

@media (max-width: 850px) and (orientation: landscape) {
  .intro-bg__item {
    top: calc(22% - 110px);
  }
}

@media (max-width: 650px) and (orientation: landscape) {
  .intro-bg__item {
    top: calc(37% - 110px);
  }
}

// ======================

// About Me
.about-me {
  height: calc(100vh + 1100px);
  position: relative;
  margin-bottom: 800px;
  &__inner {
    margin: 0 auto;
    max-width: 905px;
    width: 100%;
    height: fit-content;
    position: sticky;
    top: calc((100% - 150px) / 2);
    opacity: 0;
    transform: translateY(200%);
    transition: all 0.5s ease-in-out;
  }
  &__inner.active {
    opacity: 1;
    transform: translateY(0);
  }
  &__inner::before {
    content: "";
    position: absolute;
    top: 0;
    left: -30px;
    width: 20px;
    height: 20px;
    background-color: var(--main-red);
    border-radius: 50%;
  }
  p {
    font-family: 'Montserrat', 'Object Sans';
    font-weight: normal;
    font-size: 35px;
    line-height: 52px;
  }
  .line {
    opacity: 0;
    transform: translateY(200%);
    transition: all 0.5s ease-in-out;
  }
  .line--first {
    display: inline-block;
  }
  .line.active {
    opacity: 1;
    transform: translateY(0);
  }
}

.hide-text {
  visibility: hidden;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.red-dot {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: var(--main-red);
  border-radius: 50%;
}

.user-name  {
  display: inline-flex;
  background-color: var(--color-dark);
  color: var(--color-white);
  padding: 0;
  max-width: fit-content;
  overflow: hidden;
  letter-spacing: .15em;
  margin-bottom: -10px;
  margin-left: 5px;
  width: 0;
  &.active {
    width: 100%;
    border-right: 3px solid var(--main-red);
    padding: 0 5px 5px 5px;
    animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
  }
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: var(--main-red) }
}

@keyframes blink-caret--dark-mode {
  from, to { border-color: transparent }
  50% { border-color: var(--color-aqua) }
}

@media (max-width: 1600px) and (max-height: 800px) {
  .about-me {
    height: calc(100vh + 1100px);
    position: relative;
    margin-bottom: 400px;
  }
}

@media (max-width: 1400px) {
  .about-me {
    &__inner {
      max-width: 777px;
      top: calc((100% - 160px) / 2);
    }
    p {
      font-size: 30px;
      line-height: 40px;
    }
  }
}

@media (max-width: 1024px) {
  .about-me {
    margin-bottom: 200px;
    height: fit-content;
    &__inner {
      position: relative;
      max-width: 525px;
      top: auto;
      opacity: 1;
      transform: translateY(0);
    }
    &__inner::before {
      left: -25px;
      width: 15px;
      height: 15px;
    }
    p {
      font-size: 20px;
      line-height: 31px;
    }
    .line {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .user-name {
    padding: 0 0 0 5px;
    width: 100%;
    border-right: 3px solid var(--main-red);
    animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
  }
  .red-dot {
    width: 15px;
    height: 15px;
  }
}

@media (max-width: 650px) {
  .about-me {
    padding: 0 20px;
    margin-bottom: 80px;
    &__inner {
      max-width: 400px;
      margin: 0 0 0 20px;
    }
    &__inner::before {
      left: -15px;
      width: 10px;
      height: 10px;
    }
    p {
      font-size: 15px;
      line-height: 24px;
    }
  }
  .red-dot {
    width: 10px;
    height: 10px;
  }
}

@media (max-width: 405px) {
  .about-me__inner {
    max-width: 213px;
  }
}

// Skills section
.info-block {
  .section-heading {
    margin-bottom: 200px;
    min-width: 545px;
    margin-right: 60px;
  }
  &__desc {
    max-width: 740px;
    margin-top: 155px;
  }
  &__desc p {
    margin-bottom: 20px;
    line-height: 1.5;
  }
  &__desc p:last-child {
    margin-bottom: 0;
  }
  &__email {
    font-weight: bold;
  }
  &__email:hover {
    text-decoration: underline;
  }
  &__list {
    margin-bottom: 20px;
    & li {
      position: relative;
      padding-left: 20px;
    }
    & li:before {
      content: "\2022";
      position: absolute;
      top: 10px;
      left: 0px;
      color: var(--main-red);
      width: 10px;
      height: 7px;
      font-size: 50px;
      line-height: 0;
    }
  }
}

.skills {
  height: 1500px;
  &__inner {
    display: flex;
    margin-bottom: 200px;
    position: sticky;
    top: 200px;
  }
  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 700px;
    width: 100%;
    margin-top: 145px;
  }
  &__list-item {
    margin-bottom: 40px;
    margin-right: 40px;
    position: relative;
    width: 280px;
  }
  &__list-item::before {
    content: ' ';
    position: absolute;
    top: 0;
    left: -30px;
    width: 20px;
    height: 20px;
    background-color: var(--main-red);
    border-radius: 20px;
  }
  &__list-title {
    font-weight: 800;
    line-height: normal;
    margin-bottom: 25px;
  }
  &__sub-list li {
    font: 18px 'Montserrat', sans-serif;
    margin-bottom: 6px;
  }
}

// Experience section 
.experience {
  height: 1100px;
  &__inner {
    display: flex;
    margin-bottom: 200px;
    position: sticky;
    top: 200px;
  }
}

.project-desc {
  height: 600px;
  &__inner {
    display: flex;
    position: sticky;
    top: 400px;
  }
}

// projects
.container--projects {
  max-width: 1920px;
  padding: 0 60px;
}

.projects {
  margin-bottom: 250px;
  &__list {
    margin-top: 50px;
    position: relative;
    &::before {
      content: ' ';
      position: absolute;
      top: 0;
      right: 0;
      z-index: 97;
      width: 100%;
      height: 1px;
      background-color: var(--color-grey);
      border-radius: 50%;
    }
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;

    position: relative;
    border-radius: 8px;
    padding: 60px;
    transition: all .5s ease-in-out;
    &::before {
      content: ' ';
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 97;
      width: 100%;
      height: 1px;
      background-color: var(--color-grey);
      border-radius: 50%;
    }
  }
  &__heading {
    flex-grow: 1;
    margin-right: 30px;
    cursor: none;
  }
  &__title {
    font-size: 60px;
    white-space: nowrap;
    text-transform: uppercase;
  }
  &__preview {
    opacity: 0;
    display: none;
    position: absolute;
    bottom: 0;
    left: 200px;
    z-index: 98;
    width: 436px;
    height: 229px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 0px 5px 0px #222;
    transition: all .5s ease-in-out;

    img {
      height: 100%;
    }
  }
  &__info-wrapp {
    display: flex;
  }
  &__info {
    white-space: nowrap;
    .info__title {
      margin-bottom: 10px;
      font-weight: bold;
    }
    .info__git-link {
      display: block;
      width: auto;
      &:hover {
        text-decoration: underline;
      }
    }
    .info__git-link.not-link:hover {
      text-decoration: none;
    }
  }
  &__info--type {
    margin-right: 30px;
    min-width: 150px;
  }
  &__item:hover &__title {
    opacity: 0;
    pointer-events: none;
  }
  &__item:hover &__preview {
    opacity: 1;
    display: block;
  }
  &__item:hover {
    background-color: var(--color-dark);
    transition: all .5s ease-in-out;
  }
  &__item:hover &__info {
    color: var(--color-white);
    transition: all .5s ease-in-out;
  }
  &__item:hover::after {
    background: url('../img/system/projects__white-arrow.svg') no-repeat center;
    background-size: cover;
  }
}

.contacts {
  position: relative;
  height: 600px;
  margin-bottom: 200px;
  &__inner {
    display: flex;
    position: sticky;
    top: 400px;
  }
}

.footer {
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 850px;
    padding-bottom: 95px;
  }
  &__author {
    white-space: nowrap;
  }
}

.socials {
  display: flex;
  flex-wrap: wrap;
  &__item {
    margin-right: 60px;
  }
  &__item a {
    text-transform: uppercase;
  }
  &__item:last-child {
    margin-right: 0;
  }
  &__item:hover {
    text-decoration: underline;
  }
}

@media (max-width: 1500px) {
  .projects {
    &__list {
      margin-top: 0;
    }
    &__preview {
      left: 150px;
    }
  }
}

@media (max-width: 1600px) and (max-height: 1000px) {
  .project-desc__inner,
  .contacts__inner {
    top: 250px;
  }
  .skills__inner,
  .experience__inner {
    top: 150px;
  }
}

@media (max-width: 1600px) and (max-height: 800px) {
  .experience__inner,
  .project-desc__inner,
  .contacts__inner {
    top: 150px;
  }
  .skills, .experience {
    height: fit-content;
  }
  .skills__inner {
    position: relative;
    top: unset;
  }
  .project-desc {
    height: 500px;
  }
  .contacts {
    margin-bottom: 50px;
  }
}

@media (max-width: 1450px) {
  .skills__list-item {
    margin-right: 15px;
  }
}

@media (max-width: 1400px) {
  .skills__inner,
  .experience__inner,
  .project-desc__inner,
  .contacts__inner {
    flex-direction: column;
    margin-bottom: 100px;
  }
  .skills__list,
  .experience .info-block__desc,
  .project-desc .info-block__desc,
  .contacts__inner .info-block__desc {
    margin-left: 245px;
    margin-top: 0;
  }
  .projects {
    &__info--type {
      min-width: 140px;
      margin-right: 20px;
    }
  }
}

@media (max-width: 1270px) {
  .projects {
    &__item {
      padding-left: 30px;
    }
    &__preview {
      left: 110px;
      width: 400px;
      height: 210px;
    }
  }
}

@media (max-width: 1200px) {
  .projects {
    &__title {
      font-size: 46px;
    }
  }
}

@media (max-width: 1100px) {
  .footer__inner {
    max-width: 800px;
  }
}

@media (max-width: 1024px) {
  .skills {
    &__list {
      margin-left: 30px;
    }
    &__list-item {
      margin-bottom: 30px;
      margin-right: 30px;
    }
    &__list-item::before {
      top: 4px;
      left: -15px;
      width: 10px;
      height: 10px;
      border-radius: 10px;
    }
    &__list-title {
      margin-bottom: 15px;
    }
    &__sub-list li {
      font-size: 15px;
    }
  }
  .skills,
  .experience,
  .project-desc,
  .contacts {
    height: fit-content;
  }
  .skills__inner,
  .experience__inner,
  .project-desc__inner,
  .contacts__inner {
    position: unset;
    top: auto;
    margin-bottom: 80px;
  }
  .project-desc__inner {
    margin-bottom: 40px;
  }
  .experience .info-block__desc,
  .project-desc .info-block__desc,
  .contacts .info-block__desc {
    margin-left: 0;
  }
  .info-block {
    .section-heading {
      margin-bottom: 130px;
      min-width: auto;
      margin-right: 0;
    }
    &__desc {
      max-width: 560px;
    }
    &__list {
      margin-bottom: 20px;
      & li {
        position: relative;
        padding-left: 20px;
      }
      & li:before {
        top: 8px;
        font-size: 40px;
      }
    }
  }
  .projects {
    margin-bottom: 80px;
    &__item {
      padding: 40px 30px;
    }
    &__title {
      font-size: 35px;
    }
    &__preview {
      left: 60px;
      width: 320px;
      height: 168px;
    }
  }
  .contacts {
    margin-bottom: 80px;
  }
  .footer {
    &__inner {
      padding-bottom: 0;
    }
    &__author {
      order: 1;
      margin-bottom: 48px;
      width: 100%;
    }
  }
  .socials__item {
    margin-bottom: 40px;
  }
}

@media (max-width: 850px) {
  .container--projects {
    padding: 0 40px;
  }
  .projects {
    &__item::after {
      right: 25px;
    }
    &__info--type {
      display: none;
    }
  }
}

@media (max-width: 650px) {
  .container--projects {
    padding: 0 10px;
  }
  .info-block .section-heading {
    margin-bottom: 80px;
  }
  .skills {
    &__list {
      margin-left: 20px;
    }
    &__list-item {
      margin-right: 0;
    }
    &__list-item:last-child {
      margin-bottom: 0;
    }
    &__list-title {
      margin-bottom: 10px;
    }
  }
  .projects {
    &__item {
      flex-direction: column;
      align-items: baseline;
    }
    &__info-wrapp {
      margin-top: 20px;
    }
    &__info--type {
      display: block;
      min-width: 120px;
    }
    &__title {
      white-space: normal;
      font-size: 24px;
    }
    &__preview {
      display: none;
    }
    &__item:hover &__info {
      opacity: 1;
      color: initial;
    }
    &__item:hover &__title {
      opacity: 1;
    }
    &__item:hover &__preview {
      opacity: 0;
      display: none;
    }
    &__item:hover {
      background-color: transparent;
    }
    &__item:hover::after {
      background: url('../img/system/projects__red-arrow.svg') no-repeat center;
      background-size: cover;
    }
    &__heading {
      cursor: pointer;
    }
  }
}

@media (max-width: 470px) {
  .projects__preview {
    left: calc((100% - 93%) / 2);
    width: 93%;
    height: auto;
    bottom: 0;
  }
}

/* ======================================
//           Dark Mode
====================================== */

.dark-mode {
  color: var(--color-white);
  background-color: var(--color-dark);
  .header {
    border-bottom: 1px solid var(--color-white);
    background-color: var(--color-dark);
  }
  .section-heading {
    &::before,
    &::after {
      -webkit-text-stroke: 1px var(--color-white);
    }
  }
  .menu {
    &__open-btn {
      color: var(--color-white);
      &::before {
        background-color: var(--color-white);
      }
    }
    &__opened:hover {
      color: var(--main-white);
    }
  }
  .nav {
    background-color: var(--color-aqua);
  }
  .projects {
    &__list {
      &::before {
        background-color: var(--color-white);
      }
    }
    &__info {
      color: var(--color-white);
    }
    &__item {
      &::before {
        background-color: var(--color-white);
      }
    }
    &__item::after {
      background: url('../img/system/projects__aqua-arrow.svg') no-repeat center 100%;
      background-size: cover;
    }
  }
  .projects__item:hover .projects__info {
    color: var(--color-dark);
  }
  .projects__item:hover {
    background-color: var(--color-white);
  }
  .dark-theme-btn path {
    fill: var(--color-white);
  }
  ::selection {
    background: var(--color-white);
    color: var(--main-dark);
  }
  .cursor {
    background-color: rgba(#fff, 1);
  }
  .aura {
    background-color: rgba(#05ebfa, .5);
  }
  .about-me {
    &__inner::before {
      background-color: var(--color-aqua);
    }
  }
  .red-dot {
    background-color: var(--color-aqua);
  }
  .user-name  {
    background-color: var(--color-white);
    color: var(--color-dark);
    &.active {
      border-right: 3px solid var(--color-aqua);
      animation: 
      typing 3.5s steps(30, end),
      blink-caret--dark-mode .5s step-end infinite;
    }
  }
  .skills__list-item::before {
    background-color: var(--color-aqua);
  }
  .cursor {
    background-color: var(--color-aqua) !important;
  }
  .scroll-down {
    path {
      fill: var(--color-aqua);
    }
    &__text {
      display: none;
    }
  }
}

@media (max-width: 650px) {
  .dark-mode {
    .projects__item:hover .projects__info {
      color: var(--color-white);
    }
    .projects__item:hover {
      background-color: var(--color-dark);
    }
  }
}