$laptop-bp: 1400px;
$tablet-bp: 1024px;
$mobile-bp: 767px;

$red: #FF0F00;
$dark: #222;
$white: #fff;
$grey: #666;
$aqua: #05ebfa;
$gray-bg: #F5F5F5;
$light-gray: #8D8B89;
$dark-red: rgba(255, 15, 0, 0.5);