$laptop-bp: 1024px;
$mobile-bp: 1024px;

.defaultMode {
  --red: #FF0F00;
  --white: #fff;
  --dark: #222;
  --grey: #666;
  --aqua: #05ebfa;

  --gray-bg: #F5F5F5;
}

.darkMode {
  --red: #05ebfa;
  --dark: #fff;
  --white: #222;
  --gray-bg: #222;
}