.container {
  @include flex-align(flex-start);
  gap: 63px;
  margin-bottom: 200px;
}

.info {
  margin-top: 170px;
  line-height: 1.5;

  p:not(:last-child) {
    margin-bottom: 20px;
  }
}

.list {
  padding-left: 20px;
  margin-bottom: 20px;
}